<h2 align="center">New Workout</h2>
<form class="" action="/workouts" method="post">
	<input name="user_id" type="hidden" value="<%=current_user.id%>">
	<label>Workout Name:</label>
 	<p><input type="text" name="name"></p>
 	<label>Description: </label>
    <p><input type="text" name="description"></p>
    <input type="submit" value="Create Workout">	
 </form>