<h2>New Workout</h2>
<% if flash[:message] %>
 <h4><%= flash[:message] %></h4>
 <% end %>
 <br><br>

<form class="" action="/workouts" method="post">
	<label>Name:</label>
 	<p><input type="text" name="name"></p>
 	<label>Description: </label>
    <p><input type="text" name="description"></p>
    <input type="submit" value="Create Workout">
 	
 </form>