<h3>Sign up below:</h3>
 <form class="" action="/signup" method="post">
 	<label>Email:</label>
 	<p><input type="text" name="email" placeholder="Email"></p>
 	<label>Password: </label>
    <p><input type="password" name="password" placeholder="Password"></p>
    <input type="submit" value="Sign Up">
 	
 </form>