<h2 align="center"><i class="fas fa-user"></i><%= current_user.name %>'s Workout Tracker</h2> 
     <% current_user.workouts.each do |workout| %>
    <ul>
      <li>
      	<h4><i class="fas fa-dumbbell"></i><a href="/workouts/<%=workout.id%>"><%= workout.name %></a></h4>
      </li>
    </ul>
   <% end %>






