 <% if flash[:message] %>
 <h4><%= flash[:message] %></h4>
 <% end %>
  <h3 align="center">Log in:</h3>
 <br>
 <form class="" action="/login" method="post" align="center">
 	<label for="email">Email: </label>
 	<p><input type="text" name="email" value=""></p>
 	<label for="password">Password: </label>
    <p><input type="password" name="password" value=""></p>
    <p><input type="submit" value="LogIn"></p>
	  <br><br>	
 	<a class="button" href="/" style="float: left;">Back</a>	
  
 </form>

