 <h3>Log in:</h3>
 <% if flash[:message] %>
 <h4><%= flash[:message] %></h4>
 <% end %>
 <br><br>
 <form class="" action="/login" method="post">
 	<label for="email">Email: </label>
 	<input type="text" name="email" value="">
 	<label for="password">Password: </label>
    <input type="password" name="password" value="">
    <input type="submit" value="LogIn">
 	
 </form>

