<h3>Sign up below:</h3>
<% if flash[:message] %>
 <h4><%= flash[:message] %></h4>
 <% end %>
 <br><br>
 <form class="" action="/users" method="post">
 	<label>Name:</label>
 	<p><input type="text" name="name" placeholder="Name"></p>
 	<label>Email:</label>
 	<p><input type="text" name="email" placeholder="Email"></p>
 	<label>Password: </label>
    <p><input type="password" name="password" placeholder="Password"></p>
    <input type="submit" value="Sign Up">

     <a href="/">Go Back</a>
 	
 </form>