<div class="columns is-centered landing">
  <div class="column" align="center">
<<<<<<< HEAD
    <h1 class="title">Workout Club</h1>
    <h2>Workout Club will help you to track your workouts and achieve your fitness goals</h2>
    <h3>Signup to become a member</h3><a class="button" href="/signup"><input type="submit" class="button" value="Sign Up"></a>
    <h3>Already a member?</h3><a class="button" href="/login"><input type="submit" class="button" value="Login"></a>
=======
    <h1 class="title is-1">Workout Club</h1>
    <p>Workout Club will help you to track your workouts and achieve your fitness goals</p>
    <div class="column" align="center">
      <a class="button is-primary centered" href="/signup"><input type="submit" class="button" value="Sign Up"></a>
      <a class="button is-primary centered" href="/login"><input type="submit" class="button" value="Login"></a>
    </div>
>>>>>>> 3bf400c27f7267f6ada2812efe0146252ce99e2c
  </div>
</div>

 