<div class="columns is-centered landing">
  <div class="column is-one-third has-text-centered">
      <img class="center" src="dumbell.png" alt="Stay on track">
      <br>
    <h1 class="title is-1">Welcome to Workout Club</h1>
    <p class="subtitle is-6">Stay on track.</p>
    <div class="column is-one-third is-offset-one-third">
      <a class="button is-primary centered" href="/signup">Sign Up</a>
    </div>
    <div class="column is-one-third is-offset-one-third">
      <a class="button is-primary centered" href="/login">Login</a>
    </div>

  </div>
</div>

 