<div class="columns is-centered landing">
  <div class="column" align="center">
      <br>
    <h1 class="title is-1">Welcome to Workout Club</h1>
    <h1><div class="column" align="center">
      <a class="button is-primary centered" href="/signup"><input type="submit" class="button" value="Sign Up"></a>
    </div></h1>
    <div class="column" align="center">
      <a class="button is-primary centered" href="/login"><input type="submit" class="button" value="Login"></a>
    </div>

  </div>
</div>

 