<div class="columns is-centered landing">
  <div class="column" align="center">
    <h1 class="title is-1">Workout Club</h1>
    <p>Workout Club will help you to track your workouts and achieve your fitness goals</p>
    <div class="column" align="center">
      <a class="button is-primary centered" href="/signup"><input type="submit" class="button" value="Sign Up"></a>
      <a class="button is-primary centered" href="/login"><input type="submit" class="button" value="Login"></a>
    </div>
  </div>
</div>

 