<div class="columns is-centered landing">
  <div class="column" align="center">

    <h1 class="title">Workout Club</h1>
    <h2>Workout Club will help you to track your workouts and achieve your fitness goals</h2>
    <h3>Signup to become a member</h3><a class="button" href="/signup"><input type="submit" class="button" value="Sign Up"></a>
    <h3>Already a member?</h3><a class="button" href="/login"><input type="submit" class="button" value="Login"></a>
  </div>
</div>


 